html{background-color: #7fff00;}

.question{background-color: black;}

a{color:yellow}

.question{color:white}

p{
    color:blue
}

li{
    color:blue
}

#bow ul li{
    background-color:yellow
}

#bow ul li b{
    color:green
}

em{
    color:red
}

b{
    color:red
}

nav h1{
    color:blue
}

nav ul li a{
    color:red
}

nav ul li{
    color:blue
}

nav li+li{
    color:yellow
}
